Package: com.aeonlucid.snaphide
Name: SnapHide
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Tweak that patches all jailbreak detections on Snapchat.
Maintainer: AeonLucid
Author: AeonLucid
Section: Tweaks
Depiction: https://aeonlucid.com/cydia/depictions/?p=com.aeonlucid.snaphide
